/* VISUALIZZAZIONE XS*/
  
@media screen and (max-width: 575px) {
    .col-xs-6 {
      width: calc((100%/12)*6);
    }
}

@media screen and (max-width: 575px) {
    .col-xs-12 {
      width: calc((100%/12)*12);
    }
}

@media screen and (max-width: 575px) {
    nav#opzioni-spotify {
        width: 50px;
    }
}

@media screen and (max-width: 575px) {
    nav#opzioni-spotify>img#logo-small {
        display: inline-block;
    }
}

@media screen and (max-width: 575px) {
    nav#opzioni-spotify>img#logo,
    nav#opzioni-spotify>ul#cerca-brani>li>a:nth-of-type(2),
    nav#opzioni-spotify>#playlist-container,
    nav#opzioni-spotify>#profile a:nth-of-type(2),
    nav#opzioni-spotify>#profile hr,
    nav#opzioni-spotify>#profile strong {
        display: none;
    }
}

@media screen and (max-width: 575px) {
    ul#cerca-brani {
        flex-grow: 1;
    }
}

@media screen and (max-width: 575px) {
    ul#cerca-brani>li>a>img.symbol {
        margin-left: 10px;
    }
}

@media screen and (max-width: 575px) {
    ul#cerca-brani>li>a>img.symbol#home {
        margin-left: 10px;
    }
}

@media screen and (max-width: 575px) {
    .wrapper {
    margin-left: 50px;
    }
}


/* VISUALIZZAZIONE SM */

@media screen and (min-width: 576px) and (max-width: 767px) {
    .col-sm-6 {
        width: calc((100%/12)*6);
      }
}

@media screen and (min-width: 576px) and (max-width: 767px) {
    nav>img#logo-small {
        display: none
    }
}

@media screen and (min-width: 576px) and (max-width: 767px) {
    nav>img#logo-small {
        display: none
    }
}

@media screen and (min-width: 576px) and (max-width: 767px) {
    ul#cerca-brani>li>a>img.symbol:not(#home) {
        margin-left: 20px;
    }
}

@media screen and (min-width: 576px) and (max-width: 767px) {
    ul#cerca-brani>li>a>img.symbol#home {
        margin-left: 16px;
    }
}

@media screen and (min-width: 576px) and (max-width: 767px) {
    .wrapper {
        margin-left: 210px;
    }
}

@media screen and (min-width: 576px) and (max-width: 767px) {
    ul#cerca-brani>li:first-of-type{
        border-left: 4px solid #ADFF2F;
        color: white;
    }
}


/* VISUALIZZAZIONE MD */

@media screen and (min-width: 768px) and (max-width: 991px) {
    .col-md-3 {
        width: calc((100%/12)*3);
    }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
    nav>img#logo-small {
        display: none
    }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
    ul#cerca-brani>li>a>img.symbol:not(#home) {
        margin-left: 20px;
    }
}


@media screen and (min-width: 768px) and (max-width: 991px) {
    ul#cerca-brani>li>a>img.symbol#home {
        margin-left: 16px;
    }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
    .wrapper {
    margin-left: 210px;
    }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
    ul#cerca-brani>li:first-of-type{
        border-left: 4px solid #ADFF2F;
        color: white;
    }
}



/* VISUALIZZAZIONE LG */

@media screen and (min-width: 992px) {
    .col-lg-2 {
        width: calc((100%/12)*2);
    }
}

@media screen and (min-width: 992px) {
    nav>img#logo-small {
        display: none
    }
}


@media screen and (min-width: 992px) {
    ul#cerca-brani>li>a>img.symbol:not(#home) {
        margin-left: 20px;
    }
}

@media screen and (min-width: 992px) {
    ul#cerca-brani>li>a>img.symbol#home {
        margin-left: 16px;
    }
}

@media screen and (min-width: 992px) {
    .wrapper {
    margin-left: 210px;
    }
}

@media screen and (min-width: 992px) {
    ul#cerca-brani>li:first-of-type{
        border-left: 4px solid #ADFF2F;
        color: white;
    }
}



/* VISUALIZZAZIONE PER ALTEZZA INFERIORE AI 565PX */

@media screen and (max-height: 565px) {
    #profile {
        display: none;
    }
}