* {
    margin: 0;
    padding: 0;
    box-sizing: bor
}

body {
    font-family: Helvetica, Arial, sans-serif;
    color: white;
    width: 100vw;
    height: 100vh;
}

main {
    width: 100%;
    height: calc(100vh - 80px);
    background-color: #141922;
    overflow-y: scroll;
}

/* SIDEBAR */

nav#opzioni-spotify {
    background-color: black;
    width: 210px;
    height: calc(100vh - 80px);
    display: flex;
    flex-direction: column;
    position: fixed;
}

nav#opzioni-spotify>img#logo {
    margin: 20px 0 25px 20px;
    width: 125px;
}

nav#opzioni-spotify>img#logo-small {
    margin: 5px 0 25px 10px;
    width: 30px;
}

ul {
    list-style: none;
}

nav#opzioni-spotify ul#cerca-brani {
    margin-bottom: 10px;
}

nav#opzioni-spotify ul#cerca-brani>li,
nav#opzioni-spotify ul#playlist {
    line-height: 35px;
    font-size: 13px;
    font-weight: bold;
}

ul#cerca-brani>li>a>img.symbol{
    width: 30px;
    vertical-align: top;
}

a {
    text-decoration: none;
}

main a {
    color: #707070;
}

a:hover {
    color: white;
}

nav#opzioni-spotify>ul#cerca-brani>li:first-of-type a{
    color: white;
}

#playlist-container {
    flex-grow: 1;
    overflow-y: auto;

}

nav#opzioni-spotify ul#playlist {
    padding-left: 20px;
}

ul#playlist>li>h4 {
    color: white;
}

ul#playlist>li:nth-of-type(2) {
    margin-bottom: 10px;
}

ul#playlist>li #più {
    padding: 7.5px 12.5px;
    margin-right: 5px;
    color: black;
    background-color: #A3A3A3;
    vertical-align: middle;
    font-size: large;
}

nav#opzioni-spotify>#profile {
    justify-self: flex-end;
    padding: 15px 0 10px 0;
    width: 100%;
    background-color: black;
}

nav#opzioni-spotify>#profile>div {
    background-color: black;
}

#opzioni-spotify>#profile hr {
    background-color: #707070;
    border: none;
    height: 1px;
    width: 90%;
    margin: auto;
}

#opzioni-spotify>#profile>div:first-of-type {
    font-size: 14px;
    margin-bottom: 10px;
}

#opzioni-spotify>#profile i{
    color: #707070;
    font-size: 15px;
    margin-left: 17.5px;
    margin-right: 10px;
} 

#opzioni-spotify>#profile>div:last-of-type {
    font-size: 15px;
    margin-top: 15px;
}

#opzioni-spotify>#profile img{
    width: 30px;
    height: 30px;
    background-color: #707070;
    vertical-align: middle;
    border-radius: 50%;
    margin: 0 10px 0 10px;
}

/* "MUSIC" */

.wrapper {
    display: flex;
    flex-direction: column;
}

#blue-bar {
    background-color: #080B12;   
    height: 80px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

#blue-bar>div>a {
    color: white;
    margin-right: 10px;
    font-size: 12px;
    background-color: transparent;
    border: 1px solid white;
    border-radius: 20px;
    padding: 10px 30px;
}

#blue-bar>div>a:hover {
    padding: 13px 33px;
    border-radius: 30px;
}

nav#suddivisione-brani ul{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 20px;
}

#suddivisione-brani ul>li {
    font-size: 12px;
    font-weight: bold;
    padding: 15px 7.5px 25px 7.5px;
}

#suddivisione-brani ul>li:first-of-type>div {
    margin-top: 5px;
}

#suddivisione-brani ul>li hr {
    width: 30px;
    height: 2px;
    margin: auto;
    background-color: #ADFF2F;
    border: none;
}

#in-evidenza {
    width: 100%; 
    height: calc(100vh - 160px);
    display: flex;
    flex-direction: column;
}

#in-evidenza>section {
    margin-bottom: 70px;
    padding-left: 15px;
}

#in-evidenza p {
    color: #707070;
}

#in-evidenza>section>p {
    margin-top: 10px;
    font-size: 14px;
}

#in-evidenza .row {
    display: flex;
    flex-wrap: wrap;
}

.album-and-info {
    display: flex;
    flex-direction: column;
    margin: 20px 15px 0 0;
}

.album-image {
    position: relative;
    justify-content: center;
    top: 0;
    left: 0;
}

.album-image>img {
    width: 100%;
    height: 100%;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    height: 100%;
    background-color: transparent;
}

#artisti img,
#artisti .overlay {
    border-radius: 50%;
}

.overlay:hover {
    background-color: rgba(0,0,0,0.6);
    display: block;
}

.play {
    width: 100%;
    height: 100%;
    background-color: transparent;
}

.overlay:hover .play>a>i{
    color: white;
}

.play i {
    font-size: 55px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: transparent;
    z-index: 0;
}

.info {
    width: 100%;
    text-align: center;
}

.info h4 {
    margin: 10px 0 10px 0;
    font-size: 90%;
}

.info p {
    font-size: 75%;
}


/* PLAYBAR CONTAINER */

#now-playing {
    height: 80px;
    width: 100%;
    background-color: #282828;
    position: fixed;
    display: flex;
}

#now-playing #left{
    height: 100%;  
    flex-basis: 33%;
    padding-left: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#now-playing #left>div {
    display: flex;
    align-items: center;
}

#left img {
    height: 45px;
    width: auto;
}

#left .icons {
    flex-wrap: wrap;
}

#left .icons a {
    color: #707070;
    margin-left: 7.5px;
}

#left .song-info {
    padding-left: 10px;
    padding-right: 20px;
}

.song-info h4 {
    font-size: 13px;
}

.song-info a {
    font-size: 12px;
    color: #707070;
}

.song-info a:hover {
    text-decoration: underline;
}

#now-playing #center {
    height: 100%;
    flex-basis: 33%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#music-buttons,
#volume-buttons {
    display: flex;
    align-items: center;
}

#music-buttons a,
#volume-buttons a {
    color: white;
}

#music-buttons a {
    margin: 7.5px 10px 7.5px 10px;
}

#play-button {
    font-size: 35px;
    padding: 0 5px 0 5px;
}

#center p {
    padding-left: 15px;
    padding-right: 15px;
}

#playbar, #volume-bar {
    display: flex;
    flex-direction: row;
    justify-self: flex-end;
}

#playbar {
    width: 100%;
    display: flex;
    align-items: center;
    font-size: 12px;
}

hr.full, hr.empty {
    height: 3.5px;
    border: none;
}

hr.full {
    width: 20%;
    background-color: #C1C1C1;

}

hr.empty {
    width: 80%;
    background-color: #5B5B5B;
}

#playbar:hover hr.full,
#volume-bar:hover hr.full {
    background-color: #ADFF2F;
}

#playbar #round,
#volume-bar #round {
    border-radius: 50%;
    background-color: white;
    display: none;
}

#playbar #round {
    height: 15px;
    width: 17.5px;
}

#playbar:hover #round,
#volume-bar:hover #round {
    display: flex;
}

#now-playing #right{
    flex-basis: 33%;
    height: 100%;  
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

#volume-buttons {
    display: flex;
    flex-wrap: nowrap;
}

#volume-buttons a {
    margin: 0 7.5px 0 7.5px;
}

#volume-bar {
    width: 140px;
    padding: 0 3px 0 3px;
    display: flex;
    align-items: center;
}

#volume-bar #round {
    height: 12.5px;
    width: 15px;
}