* {
    margin: 0;
    padding: 0;
    box-sizing: bor
}

body {
    font-family: Helvetica, Arial, sans-serif;
    color: white;
    width: 100vw;
    height: 100vh;
}

main {
    width: 100%;
    height: calc(100vh - 80px);
    background-color: #141922;
    overflow-y: scroll;
    overflow-x: hidden;
}

nav#opzioni-spotify {
    background-color: black;
    width: 225px;
    height: calc(100vh - 80px);
    float: left;
    position: fixed;
}

nav#opzioni-spotify>img#logo {
    margin: 20px 0 25px 20px;
    width: 125px;
}

nav#opzioni-spotify>img#logo-small {
    margin: 5px 0 25px 10px;
    width: 30px;
}

ul {
    list-style: none;
}

nav#opzioni-spotify>ul#cerca-brani {
    margin-bottom: 10px;
}

nav#opzioni-spotify>ul#cerca-brani>li,
nav#opzioni-spotify>ul#playlist {
    line-height: 40px;
    font-size: 14px;
}

ul#cerca-brani>li:first-of-type{
    border-left: 4px solid #ADFF2F;
    color: white;
}

ul#cerca-brani>li>a>img.symbol{
    width: 30px;
    vertical-align: top;
}

a {
    text-decoration: none;
    color: #707070;
}

a:hover {
    color: white;
}

nav#opzioni-spotify>ul#cerca-brani>li:first-of-type a{
    color: white;
}

nav#opzioni-spotify>ul#playlist {
    margin-left: 20px;
}

nav#opzioni-spotify>ul#playlist>li>h4 {
    color: white;
}

ul#playlist>li #più {
    padding: 7.5px 12.5px;
    margin-right: 5px;
    color: black;
    background-color: #A3A3A3;
    vertical-align: middle;
    font-size: large;
}

nav#opzioni-spotify>ul#playlist>li:nth-of-type(2) {
    margin-bottom: 10px;
}

nav#opzioni-spotify>div {
    position: absolute;
    bottom: 10px;
    width: 100%;
}

#opzioni-spotify>#profile hr {
    background-color: #707070;
    border: none;
    height: 1px;
    width: 90%;
    margin: auto;
}

#opzioni-spotify>#profile>div:first-of-type {
    font-size: 14px;
    margin-bottom: 10px;
}

#opzioni-spotify>#profile i{
    color: #707070;
    font-size: 15px;
    margin-left: 17.5px;
    margin-right: 10px;
} 

#opzioni-spotify>#profile>div:last-of-type {
    font-size: 15px;
    margin-top: 15px;
}

#opzioni-spotify>#profile img{
    width: 30px;
    height: 30px;
    background-color: #707070;
    vertical-align: middle;
    border-radius: 50%;
    margin-left: 10px;
    margin-right: 10px;
}

#blue-bar {
    background-color: #080B12;   
    height: 80px;
    width: 100%;
    line-height: 80px;
    text-align: end;
    float: none;
}

#blue-bar>span>a {
    color: white;
    margin-right: 10px;
    font-size: 12px;
    background-color: transparent;
    border: 1px solid white;
    border-radius: 20px;
    padding: 10px 30px;
}

nav#suddivisione-brani>ul{
    text-align: center;
    margin: 20px;
}

#suddivisione-brani>ul>li {
    font-size: 12px;
    margin: 15px;
    display: inline-block;
    vertical-align: top;
}

#suddivisione-brani>ul>li:first-of-type>div {
    margin-top: 5px;
}

#suddivisione-brani>ul>li hr {
    width: 30px;
    height: 2px;
    margin: auto;
    background-color: #ADFF2F;
    border: none;
    text-align: center 
}



#in-evidenza {
    float: left;
    height: calc(100vh - 160px);
    width: 100%; 
}

section>div {
    float: left;
}

section>div>div {
    float: left;
    vertical-align: top;
    margin-left: 20px;
    margin-right: 20px;
}

section>div>div>img {
    width: 100%;
}

main section>div>div>h4 {
    line-height: 45px;
}

main section>div>div>p {
    font-size: 12px;
    color: #707070;
}

main>section.artisti img {
    border-radius: 50%;
}







#playbar {
    height: 80px;
    width: 100%;
    background-color: #282828;
    position: fixed;
}